<!DOCTYPE html>
<html>
<head>
    <title>Campus Interview Management System</title>
</head>
<body>

<h1>Campus Interview Management System</h1>

<hr>

<h2>Login Window</h2>

<ul>
    <li>
        <a href="{% url 'student_register' %}">
            Student Register
        </a>
    </li>

    <li>
        <a href="{% url 'student_login' %}">
            Student Login
        </a>
    </li>

    <li>
        <a href="{% url 'admin_login' %}">
            Admin Login
        </a>
    </li>
</ul>

</body>
</html>